body{
    background-color: #f4f4f4;
}
#email-form .row{
    min-height: 300px;
}
#dice-main .row{
    min-height: 100px;

}
.contents{
    min-height:max-content;
    min-width: 50%;
    border-radius: 20px 0 20px 0;
    padding: 10px 20px;
}

#email-form .contents{
    background-color: #fff;
    border: 2px double #c5f6fa;
    box-shadow: 0 0 20px #c5f6fa;
}

#dice-main .contents{
    background-color: #37b24d;
    border: 2px double #2b8a3e;
    box-shadow: 0 0 20px #2b8a3e;
}

/* ! dice header */
#dice-header h1{
    font-family: 'Tourney', cursive;
    font-size: 5rem;
}

/* ! dice li */
#dice-main li{
   padding-right: 15px;
}